
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a:link,
a:visited,
a:hover,
a:active {
    /* Ref: https://stackoverflow.com/a/49783868 for why inline-block is added */
    display: inline-block;
    text-transform: capitalize;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: var(--blue);
    font-weight: bold;
}

nav ul li a.router-link-active:link,
a.router-link-active:visited,
a.router-link-active:hover,
a.router-link-active:active {
    text-decoration: none;
    color: var(--black);
    background-color: var(--light-blue);
    cursor: inherit;
}
